<!DOCTYPE html>
<html ng-app="todoApp">
  <head>
    <meta charset="utf-8">
    <title>Todo App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/todosController.js"></script>
  </head>
  <body class="container" ng-controller="TodosController as todosCtrl">
    <h2>You have BLANK left todo</h2>
      <form class="form-inline" id='add-todo' ng-submit="todoCtrl.add()">
      <label class="sr-only" for="newTodo.content">Content</label>
  		<input class="form-control" type="text" placeholder="Write Todo here..." ng-model="newTodo.content" />
      <label class="sr-only" for="newTodo"></label>
			<input class="btn btn-default" type="submit"/>
    <div id="todo">
      <h3>My Todos</h3>
      <div ng-repeat="todo in todosCtrl.allTodos | filter: false">
        <h4>{{todo.content}}</h4>
        <h5>Completed?<input type="checkbox" ng-model="todo.completed"></h5>
        <hr>
      </div>
    </div>

    <div id="completed">
      <h3>Completed Todos!</h3>
      <div ng-repeat="todo in todosCtrl.allTodos | filter: true">
        <h4>{{todo.content}}</h4>
        <p>Completed?<input type="checkbox" ng-model="todo.completed"></p>
        <hr>
      </div>
    </div>

  </body>
</html>
